# Python basics - Data Types, Data Structures and Operators

#### Basic data types

##### Numbers

* Integers and floats work as you would expect from other languages:

In [ ]:
x = 4

In [ ]:
print(x)
type(x)

In [ ]:
print(type(x))

In [ ]:
print(x + 1)   # Addition;
print(x - 1)   # Subtraction;
print(x * 2)   # Multiplication;
print(x ** 2)  # Exponentiation;

In [ ]:
x += 1
print(x)

In [ ]:
x // 2 # Floor Division

In [ ]:
x *= 2
print(x)

In [ ]:
y = 2.5
print(y)
type(y)

In [ ]:
print(y + 1, y * 2, y ** 2) # Prints "3.5 5.0 6.25"

#### ACTIVITY:
Create a variable called 'pi' and assign the float value 3.1415 to it. Print the value of pi.

##### Booleans
* Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (`&&`, `||`, etc.):

In [ ]:
"P" == "p"

In [ ]:
t, f = True, False
print(type(t))

In [ ]:
print(t and f) # Logical AND;)
print(t or f)  # Logical OR;)
print(not t)   # Logical NOT;)
print(t != f)  # Logical Not Equal to;)

In [ ]:
print(t & f) # Logical AND;
print(t | f) # Logical OR;

##### Strings

In [ ]:
hell = 'helloooooooo'   # String literals can use single quotes
war = "world"   # or double quotes; it does not matter.
print(war)
len(hell)

In [ ]:
hw = hell + " "+ war   # String concatenation
print(hw)

In [ ]:
x = 12.9
int(x)

In [ ]:
hw12 = '%s %s %d' % (hell, war, 12)  # s printf style string formatting
print(hw12)
print(type(hw12))

#### String objects have a bunch of useful methods; for example:

In [ ]:
s = "hello"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase
print(s.lower())       # Convert a string to Lowercase
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another;
print('     world     ')  # Strip leading and trailing whitespace
print('    world     '.strip())

#### ACTIVITY:
Create a variable 'firstString' and assign the value 'I am' to it. Create another variable 'secondString' and assign the value 'from Besant Batch' to it. 

Create an integer variable 'batchNo' and assign the value 32 to it. Concatenate and print such that the result looks this:
"Hello there: I AM FROM Besant BATCH 32!!!"

## Lists

* Lists are just like the arrays, declared in other languages.
* A single list may contain DataTypes like Integers, Strings, as well as Objects. Lists are mutable, and hence, they can be altered even after their creation.

* List in Python are ordered and have a definite count. 
* The elements in a list are indexed according to a definite sequence and the indexing of a list is done with 0 being the first index. 
* Each element in the list has its definite place in the list, which allows duplicating of elements in the list, with each element having its own distinct place and credibility.

In [ ]:
xs = [3, 1, 2]   # Create a list
print(xs)
print(xs[2])
print(xs[-1], xs[-2], xs[-3])     # Negative indices count from the end of the list; prints "2"

In [ ]:
xs = 3,1,2
xs

In [ ]:
List = [['State', 'Street'] , ['employees']]  # Creating a Multi-Dimensional List # (By Nesting a list inside a List) 
print(List)

In [ ]:
List = [1, 2, 4, 4, 3, 3, 3, 6, 5] # Creating a List with the use of Numbers (Having duplicate values) 
print(List) 


List = [1, 2, 'State', 4, 'Street', 6, 'Employees', 5.25] # Creating a List with mixed type of values(Having numbers and strings) 
print(List)

In [ ]:
xs[2] = 'foo'    # Lists can contain elements of different types
xs

In [ ]:
xs

In [ ]:
xs.append('new') # Add a new element to the end of the list (Extend as well)
xs

In [ ]:
x = xs.pop(2)     # Remove and return the last element of the list
print(x)
print(xs)

In [ ]:
xs

In [ ]:
xs.insert(2,['new_2',12,'abc'])
xs

In [ ]:
List = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]  # Creating a List 
print("Intial List: ") 
print(List) 

List.remove(12) # Removing elements from List using Remove() method 
List.remove(6)
print(List)

In [ ]:
list1 = [1, 2, 3, 4, 1, 1, 1, 4, 5] 
  
print(list1.index(4)) # Will print the index of '4' in list1 
  
list2 = ['cat', 'bat', 'mat', 'cat', 'pet'] 

print(list2.index('cat'))  # Will print the index of 'cat' in list2

In [ ]:
lis2 = list1.copy() #to copy a list
list1.sort() #to sort in ascending order
list1.reverse() # to reverse the list 
del list1[2 : 5] # to delete elements from pos. 2 to 5
list1.clear() # Clears all the elements in the list

In [ ]:
a = list1.clear()
list1

#### ACTIVITY:
Create a list 'myList' with the following elements in it: 'a', [1, 2, 3] and 'abc' to it. 

Add another element 'batch' to it. Extract out [1,2,3] from it.

##### Slicing
In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing:

In [ ]:
str_list = ["a","b","c","d","e","f"]
print(str_list)

In [ ]:
print(str_list[1])
print(str_list[-1])

In [ ]:
print(str_list[2:4])    # Get a slice from index 2 to 4 (exclusive)
print(str_list[2:])     # Get a slice from index 2 to the end
print(str_list[:2])     # Get a slice from the start to index 2 (exclusive)
print(str_list[:])      # Get a slice of the whole list
print(str_list[:-1])    # Slice indices can be negative

#### ACTIVITY:
Create a list 'mySecondList' with the following elements in it: 'a', 'b', 23, True.

Extract out the last element using reverse indexing. Change the element at index 1 to 'bat'. Print out the modified list

## if Statements 

* if statement is the most simple decision making statement. 
* It is used to decide whether a certain statement or block of statements will be executed or not i.e 
if a certain condition is true then a block of statement is executed otherwise not.

<img src = https://media.geeksforgeeks.org/wp-content/uploads/if-statement.jpg width = 200>

## if- else

* The if statement alone tells us that if a condition is true it will execute a block of statements and if the condition is false it wonâ€™t. But what if we want to do something else if the condition is false. Here comes the else statement. 
* We can use the else statement with if statement to execute a block of code when the condition is false

<img src = https://media.geeksforgeeks.org/wp-content/uploads/if-else.jpg width = 200>

## Nested If 
* A nested if is an if statement that is the target of another if statement. 
* Nested if statements means an if statement inside another if statement. 
* Yes, Python allows us to nest if statements within if statements. i.e, 
we can place an if statement inside another if statement.

<img src = https://media.geeksforgeeks.org/wp-content/uploads/nested-if.jpg width = 400>

## if-elif-else ladder

* Here, a user can decide among multiple options. The if statements are executed from the top down.
* As soon as one of the conditions controlling the if is true, the statement associated with that if is executed, and
the rest of the ladder is bypassed. 
* If none of the conditions is true, then the final else statement will be executed.

<img src = https://media.geeksforgeeks.org/wp-content/uploads/if-elseif-ladder.jpg width = 400>

In [ ]:
x = int(input("Please enter an integer: "))
x

In [ ]:
if x < 0:
    print('Negative value,  X is : {}'.format(5))
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('more than 1')

#### ACTIVITY:
Read in an integer number using raw_input. Using if-else statement, check if the number is even or odd. 

If even, print out "Number is even". If odd, print out "Number is odd" (HINT: Use % operator). What if number is 0?

In [ ]:
x = int(input("Please enter an integer: "))

if x == 0:
    print('The Value Given is Zero, Kindly enter another Number')
elif x %2 == 0:
    print('The Number provided is Even')
else:
    print('The Number Given is Odd')

#### Loops
You can loop over the elements of a list like this:

In [ ]:
animals = ['cat', 'dog', 'monkey']
# animals
for i in animals:
    print(i)

In [ ]:
x = [-10,-5,0,1,2,3,4,5]
for i in x:
    if i < 0:
        i = 5
        print('Negative value changed,  Current X is : {}'.format(i))
    elif i == 0:
        print('Zero')
    elif i == 1:
        print('Single')
    else:
        print('more than 1')
print(x)

#### ACTIVITY:
Using a for loop and range() function, print out all the odd numbers between 20-30.

In [ ]:
for i in range(20,30):
    if i %2 ==1:
        print(i, end = ' ')

In [ ]:
raw = input('Please enter a string: ')
vowels = 'AEIOUaeiou'
count = 0
for i in raw:
    if i in vowels:
        count+=1
print(count)

#### ACTIVITY:
Count the number of vowels in the string "Hello Batch 32"

##  List comprehensions
* When programming, frequently we want to transform one type of data into another. 
* As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

You can make this code simpler using a list comprehension:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
squares

List comprehensions can also contain conditions:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
even_squares

#### ACTIVITY: 
Create two variables: 'var1' with values 1-5 and 'var2' with values 10-20 in steps of 2 (i.e., 10,12,14,... etc). Using list comprehensions, print out result of (var1+var2) if (var1+var2) is a multiple of 3.

In [ ]:
var1 = [1, 2, 3, 4, 5]
var2 = [10,12,14,16,18,20]
var3 = var1 + var2
var3

In [ ]:
print(var3)
output = [print(x) for x in var3 if x%3 ==0]
output

## Dictionaries

* Dictionary in Python is an unordered collection of data values, used to store data values like a map, which unlike other Data 

* Types that hold only single value as an element Dictionary holds key:value pair. 

* Key value is provided in the dictionary to make it more optimized.

In [ ]:
Dict = {}  # Creating an empty Dictionary 
print("Empty Dictionary: ") 
print(Dict) 

Dict = dict({1: 'State', 2: 'Street', 3:'Bellandur'}) # with dict() method 
print(Dict) 

Dict = dict([(1, 'State'), (2, 'Street')]) # with each item as a Pair  
print(Dict)

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
# print(d['cat'])       # Get an entry from a dictionary; prints "cute"
print('rat' in d)     # Check if a dictionary has a given key; prints "True"

In [ ]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])

In [ ]:
print(d['monkey'])

In [ ]:
print(d.get('monkey', 'N/A'))  # Get an element with a default
print(d.get('fish', 'N/A'))    # Get an element with a default

In [ ]:
del d['fish']       # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key

In [ ]:
# Creating a Nested Dictionary  
Dict = {1: 'State', 2: 'For', 3:{'A' : 'Welcome', 'B' : 'To', 'C' : 'Bellandur'}} 
  
print(Dict)

In [ ]:
Dict = {}  # Creating an empty Dictionary 
print("Empty Dictionary: ") 
print(Dict) 

Dict[0] = 'State' # Adding elements one at a time 
Dict[2] = 'For'
Dict[3] = 'Street'
print("Dictionary after adding 3 elements: ") 
print(Dict)

In [ ]:
Dict['Value_set'] = 2, 3, 4 # Adding set of values to a single Key 
print("Dictionary after adding 3 elements: ") 
print(Dict)

In [ ]:
Dict[2] = 'Welcomes' # Updating existing Key's Value 
print("Updated key value: ") 
print(Dict)

In [ ]:
Dict[5] = {'Nested' :{'1' : 'Life', '2' : 'at'}} # Adding Nested Key value to Dictionary
print("Adding a Nested Key: ") 
print(Dict)

In [ ]:
del Dict['A'][2] # Deleting a Key from Nested Dictionary
print("\nDeleting a key from Nested Dictionary: ") 
print(Dict)

In [ ]:
Dict = {1: 'State', 'Street': 'For', 3: 'Employees'}  # Creating a Dictionary
pop_ele = Dict.pop('1') # Deleting a key using pop() method 
pop_ele

In [ ]:
pop_ele = Dict.popitem()  # Deleting an arbitrary key using popitem() function 
pop_ele

In [ ]:
# Deleting entire Dictionary 
Dict.clear()
print(Dict)

It is easy to iterate over the keys in a dictionary:

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8, 'spider': 10}
for i in d:
    legs = d[i]
    print('A %s has %d legs' % (i, legs))

## Dictionary comprehensions: 

* These are similar to list comprehensions, but allow you to easily construct dictionaries.

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
even_num_to_square

#### ACTIVITY:
Create a dictionary 'myDict' with the following (key, value) pairs. ('Name', "XYZ"), ('Batch', 32), ("Location", "Bangalore").
Iterate over the dictionary and print out the following (order doesn't matter):

My Name is XYZ

My Batch is 32

My Location is Bangalore

## Tuples

* A tuple is an (immutable) ordered list of values. 

* A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries, while lists cannot. Here is a trivial example:

In [ ]:
# An empty tuple 
empty_tuple = () 
print (empty_tuple)

In [ ]:
# Creating non-empty tuples 
  
# One way of creation 
tup = 'python', 'State'
print(tup) 
  
# Another for doing the same 
tup = ('python', 'State') 
print(tup)

t = (5, 6)       # Create a tuple
print(type(t))

In [ ]:
# Code for concatenating 2 tuples 
  
tuple1 = (0, 1, 2, 3) 
tuple2 = ('python', 'State') 
  
# Concatenating above two 
print(tuple1 + tuple2)

In [ ]:
# Code for creating nested tuples 
  
tuple1 = (0, 1, 2, 3) 
tuple2 = ('python', 'State') 
tuple3 = (tuple1, tuple2) 
print(tuple3)

In [ ]:
t[0] = 1
print [1:5]

In [ ]:
# code to test slicing 
  
tuple1 = (0 ,1, 2, 3) 
print(tuple1[1:]) 
print(tuple1[::-1]) 
print(tuple1[2:4])

In [ ]:
# Code for deleting a tuple 
  
tuple3 = ( 0, 1) 
del tuple3 
print(tuple3)

In [ ]:
# Code for converting a list and a string into a tuple 
  
list1 = [0, 1, 2] 
print(tuple(list1)) 
print(tuple('python')) # string 'python'

In [ ]:
#python code for creating tuples in a loop 
  
tup = ('State') 
for i in range(3): 
    tup = (tup)*2
    print(tup)

#### ACTIVITY:
Create a tuple named 'myTup' with the following elements: 1, 2, 'abc'. Print this tuple. Access the first two elements of the tuple. Can you add another element 'xyz' to myTup? What should we do if we want to get (1, 2, 'abc', 'xyz') usin gthe existing tuple?

## Functions

* Python functions are defined using the `def` keyword. For example:

* A function is a set of statements that take inputs, do some specific computation and produces output. 

* The idea is to put some commonly or repeatedly done task together and make a function, so that instead of writing the same code again and again for different inputs, we can call the function.

* Python provides built-in functions like print(), etc. but we can also create your own functions. These functions are called user-defined functions.

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print sign(x)

We will often define functions to take optional keyword arguments, like this:

In [ ]:
def hello(name, loud=False):
    if loud:
        print ('HELLO, %s' % name.upper())
    else:
        print ('Hello, %s!' % name)

hello('Bob', loud = True)
hello('Fred')

#### ACTIVITY:
Define a function which would take a number 'n' as input and compute the sum of natural numbers till n.
Example if input number is 5, the function returns the result: 1+2+3+4+5

HINT: You can use the shortcut formula n(n+1)/2.
So for n = 5, result = 5*6/2 = 15

#### ACTIVITY:
Write a function 'F' which would take in two numbers. Based on user choice 1 == add the numbers or 2 == multiply the two numbers, perform the operation and return the appropriate results

### Python Operators
Python language supports the following types of operators.

* Arithmetic Operators
* Comparison / Relational Operators
* Assignment Operators
* Logical Operators
* Bitwise Operators
* Membership Operators
* Identity Operators

In [ ]:
# Arithmetic Operators
a = 2
b = 3
c = 0

c = a + b 
print("Addition - Value of c is ", c)

c = a - b
print("Substraction - Value of c is ", c)

c = a * b
print("Multiplication - Value of c is ", c)

c = a / b
print("Division - Value of c is ", c)

c = a//b 
print("Floor Division - Value of c is ", c)

c = a % b
print("Modulus / Remainder - Value of c is ", c)

c = a**b 
print("Exponent / Power - Value of c is ", c)

In [ ]:
# Comparison / Relational Operators
a = 10
b = 10
c = 0

if ( a == b ):
   print("Line 1 - a is equal to b")
else:
   print("Line 1 - a is not equal to b")

if ( a != b ):
   print("Line 2 - a is not equal to b")
else:
   print("Line 2 - a is equal to b")

if ( a < b ):
   print("Line 3 - a is less than b") 
else:
   print("Line 3 - a is not less than b")

if ( a > b ):
   print("Line 4 - a is greater than b")
else:
   print("Line 4 - a is not greater than b")

In [ ]:
a = 5;
b = 20;
if ( a <= b ):
   print("Line 5 - a is either less than or equal to  b")
else:
   print("Line 5 - a is neither less than nor equal to  b")

if ( b >= a ):
   print("Line 6 - b is either greater than  or equal to b")
else:
   print("Line 6 - b is neither greater than  nor equal to b")

In [ ]:
# Assignment Operators
a = 2
b = 3
c = 0

c = a + b
print("Line 1 - Value of c is ", c)

c += a
print("Line 2 - Value of c is ", c) 

c *= a
print("Line 3 - Value of c is ", c) 

c /= a 
print("Line 4 - Value of c is ", c) 

c //= a
print("Line 5 - Value of c is ", c)

c %= a
print("Line 6 - Value of c is ", c)

c **= a
print("Line 7 - Value of c is ", c)

In [ ]:
# Logical Operators
x = True
y = False

print('x and y is',x and y)
print('x or y is',x or y)
print('not x is',not x)

In [ ]:
# Bitwise Operators
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

c = a & b;        # 12 = 0000 1100 #both should be 1
print("Line 1 - Value of c is ", c)

c = a | b;        # 61 = 0011 1101 #either should be 1
print("Line 2 - Value of c is ", c)

c = a ^ b;        # 49 = 0011 0001 #both should be different
print("Line 3 - Value of c is ", c)

In [ ]:
# Membership Operators
# in 	 Evaluates to true if it finds a variable in the specified sequence and false otherwise.
# not in 	 Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.

a = 1
b = 20
list = [1, 2, 3, 4, 5 ]

if ( a in list ):
   print("Line 1 - a is available in the given list")
else:
   print("Line 1 - a is not available in the given list")

In [ ]:
a = 10
if ( a in list ):
   print("Line 2 - a is available in the given list")
else:
   print("Line 2 - a is not available in the given list")

if (b not in list):
   print("Line 3 - b is not available in the given list")
else:
   print("Line 3 - b is available in the given list")

In [ ]:
# Identity Operators
# is 	 Evaluates to true if the variables on either side of the operator point to the same object and false otherwise.
# is not 	 Evaluates to false if the variables on either side of the operator point to the same object and true otherwise.

a = 20
b = 30

#print(a is b)
print(a is not b)

In [ ]:
# String Traversal
# Range function in loops

string_to_iterate = "Python"

for char in string_to_iterate:
   print(char)

# Printing index
for char_index in range(len(string_to_iterate)):
   print(char_index)

c = 'Programming Language'
string_to_iterate = 'Python'
# Printing the exact values 
for char_index in range(len(string_to_iterate)):
   print(c[char_index])